<div style="text-align:center; font-weight: bold;">
    <img src=".../../assets/nestdefence.jpg" alt="Image Description" style="float: left; margin-right: 20px; width: 1000px; background: blue;">
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1>DEFENCE</h1>
      <br>
      <br>
      The “fly by light” technology, which is proving to be the next-generation technology in the Aerospace domain, helps achieve a major reduction in aircraft weight by replacing the copper wire harness; it also increases the real-estate space available in the avionics bay to accommodate additional capabilities.    </div>
<br>

<app-accordion></app-accordion>>