<div style="text-align:center; font-weight: bold;">
    <img src="../../assets/nesthealth.jpg" alt="Image Description" style="float: left; margin-right: 20px; width: 1000px; background: blue;">
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1>HEALTHCARE</h1>
      <br>
      <br>
      Healthcare software development is vital for modern healthcare systems. With advancing technology, providers rely on software solutions to streamline operations, improve patient care, and boost outcomes. NeST Digital offers a range of healthcare software solutions, from patient monitoring to virtual reality simulations for medical training.    </div>
<br>

<app-accordion></app-accordion>
